<div class="main-pizza container-fluid">
    <div class="row">
        <div class="menu">
            <div class="pizza-counter">
                <h2>
                    <span class="pizza-counter-text">Усі піци</span>
                    <span class="pizza-counter-number badge">0</span>
                </h2>
            </div>
            <div class="pizza-filters">
                <ul class="nav nav-pills all-pizza-filters">
                    <li role="presentation" class="active pizza-filter-button" id="filter-all">
                        <a href="#">
                            Усі
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button"  id="filter-meat">
                        <a href="#" >
                            Мясні
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-pineapples">
                        <a href="#">
                            З ананасами
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-mushrooms">
                        <a href="#">
                            З грибами
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-ocean">
                        <a href="#">
                            З морепродуктами
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-vega">
                        <a href="#">
                            Вега
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row" id="pizza_list">
            </div>

        </div>
    </div>
</div>