<div class="discount-panel">
    <div class="discount-corners" img="assets/images/discount.svg">
    </div>
    <div class="discount-text text-uppercase">
        Цього тижня<br> на все
    </div>
    <div class="discount-number">
        -20%
    </div>
</div>