
<footer style="border-top: 1px solid rgba(216,216,216,0.8);"></footer>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>

<!--Google maps script-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD2gnCQ-iyes59Lc0DK_Uv5szpBJbR59aw"></script>

</body>
</html>