<div class="right-panel">
    <div class="right-panel-top">
                <span class="order-text">
                    Замовлення
                    <span class="badge orange order-counter">0</span>
                </span>

        <span class="clear-order-wrap clear-order">
                    Очистити замовлення
                </span>

    </div>

    <div id="cart" class="all-orders" >
        <div class="no-order" style="display: none;">Пусто в холодильнику? <div>Замовте піцу!</div></div>
    </div>

    <div class="order-state right-panel-bottom">
                <span class="sum-title" style="display: none;">
                    Сума замовлення
                </span>
        <span class="sum-number" style="display: none;">
                    0
                </span>
        <div class="do-order-button">

            <button type="button" class="btn btn-warning btn-lg btn-block button-order" disabled="disabled" onclick="window.location.href='/order.html'">

                Замовити
            </button>
        </div>
    </div>
</div>