<div class="navbar navbar-fixed-top top-panel">
    <div class="site-icon">
        <div class="discount-corners top-discount">
        </div>
        <div class="pizza-logo">
            <div class="title-1 text-uppercase" id="pizza-title" >
                Pizza
            </div>
            <div class="title-2 text-uppercase">
                KMA
            </div>
        </div>
    </div>
    <div class="header-top-row">
        <div class="main-header-top-items">
            <div class="phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                (044) 222 5 222
            </div>
            <div class="work-time visible-lg-inline-block visible-md-inline-block">
                24 години / 7 днів на тиждень
            </div>
            <div class="delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div type="button" class="header-top-button btn btn-warning sign-in-button">
                Ввійти
            </div>
        </div>
    </div>

    <div class="header-bottom-row">
        <span class=" pizza-page" onclick="window.location.href='/'">
            Піца
        </span>
    </div>
</div>